
#header {
    display:none;  
}

.header_inner {
    height:100%;
  
}

#homepage_primary {
    position: relative;
    height: 95.4%;
    background-image: url("/images/Pollock-AllBlack_Sam.png");
    background-size: 100%;
    background-repeat: repeat-x;
}


#homepage_primary .homepage_inner > #samphoto {
    width: 50%;
    height: 70%;
    margin: 15% 24% 5% 24%;
    background-color: #a5a5a5;
    border-radius:15%;
    background: url("/images/Sam_posttri_img.jpg");
    background-size:100%;
    border: 3px solid #333333;
    
}

#homepage_primary .homepage_inner .homepage_title {
    font-size: 40px !important;
    margin:0;
    background-color:black;
    color: white;
    padding: 5px 5px 0 5px;
}

#homepage_primary .homepage_outer {
    width: 70%;
    height: 60%;
    margin: 25% 15%;
}
.homepage_title {
    text-align:center;
    margin-top:2px;
    margin-bottom: 0px;
    color: #6699FF;
    font-family: "Trebuchet MS";
    font-size: 50px;
    text-shadow: #000 3px 1px 3px;
}

.homepage_symbol {
    border: 3px solid #333333;
    height: 70%;
    margin-top: 0px;
}
.homepage_symbol a {
    display: block;
    height:100%;
}
.homepage_symbol:hover + .hidden {
    display:block;
}
.homepage_symbol:hover {
    border: 3px solid #6699FF;
}
.homepage_description {
    text-align:center;
    background-color: black;
    padding: 5px;
    color:white;
    font-family:cursive;
}
#resume > .homepage_symbol {
    background: url("/images/homepage_resume_photo.jpg");
    background-size:130%;
}

#bio > .homepage_symbol {
    background: url("/images/homepage_biography_photo.jpg");
    background-size:100%;
}


